.btn {
    position: relative;
    width: 30px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 5px;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0,0.7);
    margin-left: 2px;
    margin-right: 2px;
   }

   /* .cnt{
       align-items: center;
       display: flex;    
   } */
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: rgb(0, 0, 0);
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }