:root{
  --primary-color: #3a4052;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    line-height: 1.5;
    color: white;
}

.title{
    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 100px;    
}

.video-container{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
    z-index: 10;
} 

.button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .button:focus,
  .button:hover {
    color: #fff;
  }
  
  .button:focus:after,
  .button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }


   
  